<div class="container">
    <h1>Ficha alumno</h1>
    <table border="1" *ngIf="hayRegistros(); else sinalumno" class="table">
        <tr>
            <th scope="col">Codigo</th>
            <th scope="col">Nombre</th>
            <th scope="col">carrera</th>
            <th scope="col">correo</th>
            <th scope="col">Borrar</th>
            <th scope="col">Seleccionar</th>
        </tr>
        <tr *ngFor="let alu of alumno">
            <td>{{alu.codigo}}</td>
            <td>{{alu.nombre}}</td>
            <td>{{alu.carrera}}</td>
            <td>{{alu.correo}}</td>
            <td><button (click)="eliminar(alu.codigo)">Borrar?</button></td>
            <td><button (click)="seleccionar(alu.codigo)">Seleccionar</button></td>
        </tr>
    </table>
    <ng-template #sinalumno>
        <p>No hay articulos.</p>
    </ng-template>
    <div>
        <p>
            <input type="text" [(ngModel)]="alu.nombre">
        </p>
        <p>
            <input type="text" [(ngModel)]="alu.carrera">
        </p>
        <p>
            <input type="text" [(ngModel)]="alu.correo">
        </p>
        <p><button (click)="insertar()">Agregar</button>
            <button (click)="modificar()">Modificar</button></p>
    </div>
</div>

<!-- <div class="container align-items-center">
    <div class="row justify-content-center">
        <div class="card mt-4">
            <div class="card-body">
                <div class="card-title">
                    Ficha Alumno
                </div>
                <div class="form-group">
                    <input type="text" [(ngModel)]="alu.nombre" placeholder="Nombre: ">
                </div>
                <div class="form-group">
                    <input type="text" [(ngModel)]="alu.carrera" placeholder="Carrera: ">
                </div>
                <button (click)="modificar()" class="btn btn-primary">
                    Actualizar
                </button>
                <button *ngIf="alu.codigo" class="btn btn-danger" (click)="eliminar()">
                    Eliminar
                </button>
            </div>
        </div>
        <div class="list-group mt-4">
            <li *ngFor="let alu of alumno" class="list-group-item list-group-item-action" (click)="seleccionar(alu.codigo)" [class.active]="alu==alumno">
                <span class="badge badge rounded-pill badge-primary">{{ alu.codigo }}</span> {{alu.nombre}}
            </li>
        </div>
    </div>
</div> -->